@import "./index.scss";

:root {
	color: rgb(255, 255, 255);
	background-color: #5a50b3;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	span {
		display: inline-block;
		animation: combined 2s infinite linear;

		@keyframes combined {
			0%,
			100% {
				transform: rotate(-5deg) scale(0.8);
			}
			50% {
				transform: rotate(5deg) scale(1.2);
			}
		}
	}
}
